/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
    --footer-background-color: #02172a;
    --footer-text-color: rgba(255, 255, 255, 0.4);
    --accent-color: #ff6b09;
    --primary-white-color: #ffffff
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    padding: 30px 0;
    max-width: 900px;
}

.resume__block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: center;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}

/* Header styles */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    color: var(--primary-text-color);
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    border-bottom: 1px solid #ececec;
}

.header__text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #00b9ff 50%, #ffb800 50%, #ffb800);
}

/* Contact info styles */

.contact-info__header,
.contact-info__sub-header {
    text-align: center;
}

.contact-info__header {
    color: var(--primary-text-color);
    margin-bottom: 15px;
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.contact-info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info__block--center {
    justify-content: center;
}

.contact-info__item {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: start;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.contact-info__item-icon path {
    fill: var(--icon-color);
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info__avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color);
}

/* Intro and skills styles */

.intro {
    display: flex;
    justify-content: start;
}

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro__icon path {
    fill: var(--text-decoration-color);
}

.intro_text {
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
    text-align: justify;
}

.skills__container{
    /* margin: 20px 0; */
    margin-bottom: 20px;
}

.skills__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
}

.skills__text {
    color: var(--secondary-text-color);
    text-align: center;
}

/* Experience and additional info styles */

.experiences {
    flex: 1 1 60%;
    margin-right: 50px;
}

.experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-header-name {
    color: var(--primary-text-color);
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-project {
    margin-left: 15px;
    margin-bottom: 25px;
}

.experiences__company-project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
    color: var(--secondary-text-color);
    padding-left: 20px;
}

.additional-info {
    flex: 1 1 40%;
}

.additional-info__education {
    margin-bottom: 20px;
}

.additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__education-university{
    margin-top: 20px;
}

.additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    font-size: 15px;
}

.additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
}

.additional-info__education-university-name {
    color: var(--secondary-text-color);
}

.additional-info__languages {
    margin-bottom: 20px;
}

.additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--secondary-text-color);
}

/* Swiper styles */

.swiper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
}

.swiper-slide__container {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
    position: relative;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.swiper-slide__container::before {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    content: '';
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide:hover .swiper-slide__container::before {
    transform: translateY(0);
}

.swiper-slide__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-text {
    position: absolute;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    left: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}

.swiper-slide:hover .swiper-text {
    transform: translateY(0);
}

/* Footer styles */

footer {
    padding: 10px 0;

    font-weight: 400;
    font-size: 10px;
    line-height: (12px/10px);
    letter-spacing: 0.03em;

    color: var(--footer-text-color);
    background-color: var(--footer-background-color);

    @include tablet {
        font-size: 12px;
        line-height: (15px/12px);
        padding: 19px 0;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text {
    margin-left: 4px;
}

.link {
    color: var(--footer-text-color);

    margin-right: 4px;
    margin-left: 4px;
}

.item {
    color: var(--accent-color);
}

.contacts {
    color: inherit;
}

.icon {
    margin-left: 8px;
    margin-right: 4px;
    

    animation: heart 1s infinite;

    &:hover {
        animation: heartblow 5s infinite;
    }
}

@keyframes heart {
    50% {
        transform: scale(1.5)
    }
}

@keyframes heartblow {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(2.3)
    }

    40% {
        transform: scale(1)
    }

    60% {
        transform: scale(2.3)
    }

    80% {
        transform: scale(1)
    }

    100% {
        transform: scale(2.3)
    }
}